{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="accueil">
    <header>
        <h1>Edouard Baert <br>
            Coach en développement personnel</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores culpa accusantium cumque, voluptatum molestias minus, hic enim eligendi libero odio doloremque reprehenderit aut ratione optio fugiat ipsam! Repellat harum reprehenderit, cumque eos molestiae distinctio laudantium qui vel. Deserunt magnam nemo fugit recusandae nesciunt totam, cupiditate libero quaerat ratione dolorem expedita exercitationem qui esse, quod corrupti aliquid labore! Quaerat mollitia ab quo eveniet cum, unde atque, maxime quas eos, numquam earum.
        </p>
    </header>
</div>
{% endblock content %}